*{
    padding: 0;
    margin: 0;
}
.the-header-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 0px;
    text-align: center;
}
.the-header-div img{
  height: 34px;
  width: 184px;
  margin-right: 90px;
  margin-left: 150px;
}
.the-header-tabs{
    margin: 0px 82.25px;
    /* padding-top:7px; */
}
.the-header-tabs a{
    text-decoration: none;
    color: #a3a3a3;
    font-size:20px;
    font-family: 'Cormorant Garamond' sans-serif;
    margin: 0px 20px;
    padding: 10px 0px 15px;
}
.the-header-tabs a:hover{
    color:black;
}
 .the-header-tabs a {
  position: relative;
  display: inline-block;
}
.the-header-tabs a:not(.first-a):hover::before {
  content: "";
  background-color: rgb(170, 170, 170);
  height: 1px;
  width: 70px;
  position: absolute;
  top: 0;
  left: 50%; 
  transform: translateX(-50%); 
}
.the-header-tabs a:not(.first-a):hover::after {
  content: "";
  background-color: rgb(170, 170, 170);
  height: 1px;
  width: 70px;
  position: absolute;
  bottom: 0;
  left: 50%; 
  transform: translateX(-50%);
}
.the-header-tabs .first-a{
    color:black;
}
.first-a {
    border-top: 1px solid rgb(170, 170, 170);
    border-bottom:  1px solid rgb(170, 170, 170) ;
}
.the-header-tabs i {
    font-size:15px;
    padding-left: 7px;
}
.Contact-us{
    border-radius: 50px;
    text-decoration: none;
    padding: 19px 45px;
    background: black;
    color: white;
}
.Contact-us:hover{
    background-color: rgb(50, 50, 255);

}
.cart-icon {
  color:black;
  font-size: 1.3rem;
  padding: 5px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgb(220, 220, 220);
  padding: 15px;
  margin-left: 20px;
}
.header-texts{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
    margin-top:170px;
}
.first-header{
    padding-left:160px ;
}
.first-header h1{
    color: #898989;
    font-size: 28px;
    font-family: 'poppins'; 
}
.first-header h2{
    color: #0c0c0c;
    font-size: 66px;
    font-family: 'poppins';
    width: 100px ;
    padding-top:30px;
}
.first-header h3{
    color: #0c0c0c;
    font-size: 88px;
    font-family: 'poppins';
    padding-top: 5px;
}
.tags{
    display: flex;
    gap: 30px;
    padding-top: 50px;
    padding-right: 80px;
}
.purchase{
   text-decoration: none;
   font-size: 19px;
   border: 1px solid #0088ff;
   border-radius: 50px;
   padding: 18px 49px;
   background-color: #0088ff;
   color: white;
}
.purchase:hover{
   color: white;
   background:black;
   border: 1px solid black;
}
.watch{
   text-decoration: none;
   font-size: 19px;
   border: 1px solid black;
   border-radius: 50px;
   padding: 18px 49px;
   background-color: white; 
   color: black;
}
.watch:hover{
    color: white;
    background: #0088ff;
    border: 1px solid #0088ff;
}
.second-header img{
    width: 700px;
    height: 600px;
    margin-top: -150px;
}
